<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="clear">
        <div class="two_third first">
          <blockquote>
            <p><span>“</span> We understand that your pets are family members, and we treat them that way. </p>
          </blockquote>
          <p>We believe in partnering with pet owners to provide optimal care for our pets. With empathy and compassion, we deliver high quality care in order to preserve and strengthen the bond shared between a person and pet.</p>
          <p>Here, we develop relationships to serve the needs of our patients, and we work as a team to deliver service for our clients. Our energies and their results reward us personally and professionally, and we continue to grow from these efforts.</p>
        </div>
         <div class="one_third"><img src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/></div> 
      </section>
      <!-- ####################################################################################################### -->
      <section id="team">
        <h2>Vivamuslibero Auguer</h2>
        <ul class="clear">
          <li class="one_third first">
           <figure><img src="../static/resources/images/team-member.gif" th:src="@{/resources/images/team-member.gif}"/>
              <figcaption>
                <p class="team_name">Jorge</p>
                <p class="team_title">Vet domestico</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
           <figure><img src="../static/resources/images/team-member.gif" th:src="@{/resources/images/team-member.gif}"/> 
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
           <figure><img src="../static/resources/images/team-member.gif" th:src="@{/resources/images/team-member.gif}"/> 
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third first">
            <figure><img src="../static/resources/images/team-member.gif" th:src="@{/resources/images/team-member.gif}"/> 
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
           <figure><img src="../static/resources/images/team-member.gif" th:src="@{/resources/images/team-member.gif}"/> 
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
           <figure><img src="../static/resources/images/team-member.gif" th:src="@{/resources/images/team-member.gif}"/> 
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
</body>
</html>
